<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer" align="center">

    <div class="container">

        <footer>
        <!-- this is footer -->
        &copy; June 2020 kailash chandra dimri
            <span sec:authorize="isAuthenticated()"> |
                 Logged user: <span sec:authentication="name"></span> | 
                 ID : <span sec:authentiation ="id"></span> | 
                 Roles: <span sec:authentication="principal.authorities"></span>
                 Subject: <span sec:authentication="principal.subject"></span> |
                <a th:href="@{/logout}">Sign Out</a>
            </span>

        <script type="text/javascript"
                src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        </footer>
    </div>

</div>
</body>
</html>