<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User creation form</title>
 <div th:replace="fragments/header :: header-css"/>
 
 </head>
<body>

	<div th:replace="fragments/header :: header"></div>
	<div class="container">
		<div class="starter-template" align="center">
			<h1> Change password </h1>
			
			<form action="#" th:action="@{/admin/changePassword}" th:object="${user}" method="post">
				<table >
					<tr>
					   <td >Id </td>
						<td ><input id="id" th:field="*{id}" readonly/> </td>
						<td >login Id </td>
						<td ><input id="userName" th:field="*{userName}" readonly/> </td>
                        <td>Password</td>
						<td><input id="password" name="password" type="password"  th:field="${user.password}" required/></td></tr> <tr>
						</tr>
                        
					 </table>   
					<div>
                    
						<input type="submit" value="Save" />
						 <a th:href="@{/home}"><input type="button" value="Cancel" /></a>
						
					</div>
			</form>
          <h3>* Remember login id and password </h3> 
		</div>

	</div>
	<!-- /.container -->

	<div th:replace="fragments/footer :: footer" /></div>

</body>
</html>